@import "tailwindcss";
@import "tailwindcss-animated";

.container {
  @apply mx-auto max-w-screen-xl;
}

.section {
  @apply px-2 md:px-4;
}

.button {
  @apply rounded-full bg-black px-5 py-2 text-white hover:bg-black/80 cursor-pointer;
}

.button--white {
  @apply rounded-full px-5 py-2 border border-transparent bg-white shadow-md hover:border hover:border-black cursor-pointer transition-all ease-in;
}
.button-filter {
  @apply px-2 md:px-6 py-3 border-2 border-transparent hover:border-black flex justify-between items-center gap-1 uppercase bg-white rounded-xl text-xs md:text-sm font-bold;
}

.message {
  @apply py-10 font-light text-2xl flex items-center text-center gap-4 flex-col;
}

/* .portabletext {

} */

.text-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align: right;
  text-orientation: sideways;
}
